@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .root {
    @apply flex justify-center items-center min-h-screen w-screen font-ubuntu bg-customWhite-100
  }

  /* logo */
  .logo-text {
     @apply font-bold green-gradient bg-clip-text text-transparent
  }

  /* header text */
  .header-text {
    @apply text-4xl font-bold text-customBlack-300
  }

  /* gradient */
  .green-gradient {
    @apply bg-gradient-to-r from-customGreen-500 to-customGreen-100
  }

  /* auth */
  .auth-bg {
    @apply flex justify-center items-center relative min-h-screen w-1/2 max-lg:hidden
  }

  .auth-container {
    @apply flex justify-center items-center min-h-screen w-1/2 max-lg:w-full
  }

  .auth-wrapper {
    @apply flex flex-col justify-center items-center min-h-screen w-[420px] py-7
  }

  .auth-button {
    @apply w-full h-10 green-gradient text-customWhite-100
  }

  .auth-col {
    @apply flex flex-col w-full gap-3
  }

  .auth-welcome-features {
    @apply w-fit py-2 px-4 rounded-[8px]
  }

  .auth-footer {
    @apply flex w-full gap-1 justify-center
  }

  .auth-form-label {
    @apply text-sm font-normal text-customBlack-200
  }

  .auth-form-input {
    @apply bg-customWhite-100 text-base border border-customBlack-100 placeholder:text-customBlack-100 font-normal
  }
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */