@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .root {
    @apply flex justify-center items-center min-h-screen w-screen font-ubuntu bg-customWhite-100
  }

  /* logo */
  .logo-text {
     @apply font-bold green-gradient bg-clip-text text-transparent max-sm:text-2xl
  }

  /* header text */
  .header-text {
    @apply text-4xl font-bold text-customBlack-300
  }

  /* gradient */
  .green-gradient {
    @apply bg-gradient-to-r from-customGreen-500 to-customGreen-100
  }

  /* auth */
  .auth-bg {
    @apply flex justify-center items-center relative min-h-screen w-1/2 max-lg:hidden
  }

  .auth-container {
    @apply flex justify-center items-start h-screen overflow-auto w-1/2 max-lg:w-full
  }

  .auth-wrapper {
    @apply flex flex-col justify-center items-center min-h-screen max-w-[420px] py-7 w-full
  }

  .auth-button {
    @apply w-full h-10 green-gradient text-customWhite-100
  }

  .auth-col {
    @apply flex flex-col w-full gap-3
  }

  .auth-welcome-features {
    @apply w-fit py-2 px-4 rounded-lg
  }

  .auth-footer {
    @apply flex w-full gap-1 justify-center
  }

  .auth-form-label {
    @apply text-sm font-normal text-customBlack-200
  }

  .auth-form-input {
    @apply bg-customWhite-100 text-base border border-customBlack-100 placeholder:text-customBlack-100 font-normal
  }

  /* top nav */
  .top-nav-container {
    @apply h-fit w-full fixed top-0 left-0 pt-7 px-[6%] bg-customWhite-100 z-10
  }

  .top-nav {
    @apply w-full h-[60px] flex justify-between items-center 
  }

  .top-nav-tabs {
    @apply flex justify-between items-center w-fit gap-2
  }

  .top-nav-profile {
    @apply flex justify-center items-center text-xl h-12 aspect-square green-gradient text-customWhite-200 rounded-full flex-shrink-0 ml-3 max-sm:h-10
  }

  /* bot nav */
  .bot-nav-container {
    @apply fixed bottom-7 left-[50%] -translate-x-1/2 lg:hidden
  }

  .bot-nav {
    @apply bg-customWhite-200 flex p-3 drop-shadow-default rounded-xl gap-[1vw]
  }

  /* nav tab */
  .nav-tab {
    @apply py-2 px-4 rounded-lg max-sm:text-sm text-customBlack-300
  }

  .nav-tab-active {
    @apply bg-customGreen-400 text-customWhite-200
  }

  /* main-pages */
  

  /* discover */
  .discover {
    @apply flex flex-col gap-7 pt-[60px] max-sm:pt-[30px] max-lg:pb-28
  }
  
  .header {
    @apply text-4xl font-bold text-customBlack-300 max-md:text-3xl
  }

  /* discover search */
  .search-box {
    @apply flex gap-[20px] max-md:flex-col md:mb-12
  }

  .search-input {
    @apply border border-customBlack-100 placeholder:text-customBlack-100 h-[50px] md:w-[60%] max-md:h-10 flex-shrink-0
  }

  .subtitle {
    @apply text-3xl font-semibold text-customBlack-300 max-md:text-xl
  }

  .search-tabs {
    @apply flex items-center h-[50px] max-md:h-10 overflow-auto
  }

  .search-tab {
    @apply flex gap-2 items-center px-4 py-2 text-customBlack-300 rounded-md cursor-pointer max-2xl:text-sm
  }

  .search-tab-active {
    @apply bg-customGreen-400 text-customWhite-200
  }

  /* discover results */
  .discover-results {
    @apply w-full flex flex-col gap-7 
  }

  .results-grid {
    @apply w-full grid grid-cols-4 gap-7 max-lg:grid-cols-3 max-md:grid-cols-2 max-lg:gap-4 3xl:grid-cols-6
  }

  .results-item {
    @apply w-full bg-customWhite-200 rounded-lg overflow-hidden
  }

  .results-item-photo {
    @apply w-full aspect-square bg-customBlack-100 relative
  }

  .results-item-label {
    @apply flex w-full items-center pl-2 pr-4 pt-1 pb-2
  }

  .results-item-info {
    @apply flex flex-col justify-between flex-grow
  }

  /* details */
  .details-page {
    @apply flex gap-7 w-full max-lg:pb-28 max-md:flex-col pt-5
  }

  .details-tab {
    @apply border-b border-customBlack-100 rounded-none 
    text-customBlack-100 text-base max-2xl:text-sm
  }

  .details-tab-active {
    @apply border-customGreen-400 text-customGreen-400
  }

  .details-content {
    @apply w-fit pt-14 md:h-details-custom md:overflow-auto mt-0
  }

  .content-details {
    @apply flex flex-col gap-12 text-customBlack-300
  }

  .content-details-section {
    @apply flex flex-col gap-5
  }

  .detailsTable {
    @apply flex max-2xl:text-sm
  }

  .photo-card {
    @apply md:w-[60%] md:h-fit md:max-w-details-custom aspect-[7/10] flex flex-col rounded-xl overflow-hidden bg-customWhite-200 flex-shrink-0
  }
}